<!--
  Generated template for the MantenimientoCategoriaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar text-center color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Voto en Encuesta</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding id="page5">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col col-xl-6>
        <div id="registro-markdown6" class="show-list-numbers-and-dots">
          <p class="title">
            1. Reglas de votación:
            <a target="_blank" [href]="encuesta.extraInfo">Link</a>
          </p>
          <ng-container *ngIf="opcionesLinkeables.length > 0">
            <p class="title">
              2. Presioná en las opciones para ver en detalle cada una:
            </p>
            <div class="badge-container">
              <a target="_blank" [href]="opcion.link" *ngFor="let opcion of opcionesLinkeables">
                <button
                  ion-button
                  clear
                >
                  {{opcion.nombre}}
                </button>
              </a>
            </div>
          </ng-container>
        </div>
        <hr />
        <p class="title" style="margin: 30px 0">
          {{modo === 'voto' ? '3. Ahora seleccióná una opción y confirmá tu voto
          con el botón "Votar" al final de la pantalla.': 'Resultados:'}}
        </p>
        <ion-item-divider color="light" id="registro-list-item-divider8">
          {{encuesta.nombre}}
          <button
            *ngIf="modo === 'resultados'"
            ion-button
            item-end
            class="btn-mostrar"
            type="button"
            (click)="refrescarResultados()"
            icon-only
          >
            <ion-icon name="refresh" icon-right></ion-icon>
          </button>
        </ion-item-divider>
        <ion-list radio-group [(ngModel)]="voto" *ngIf="modo === 'voto' ">
          <ion-item *ngFor="let opcion of encuesta.opciones">
            <ion-avatar item-start>
              <img [src]="'assets/imgs/logos/' + opcion.imagen" />
            </ion-avatar>
            <ion-label>{{opcion.nombre}} </ion-label>
            <ion-radio [value]="opcion._id" name="voto"></ion-radio>
          </ion-item>
        </ion-list>
        <ng-container *ngIf="modo === 'resultados'">
          <ion-list>
            <ion-item *ngFor="let opcion of encuesta.opciones">
              <ion-avatar item-start>
                <img [src]="'assets/imgs/logos/' + opcion.imagen" />
              </ion-avatar>
              <ion-label
                [class]="opcion._id === resultados.ganador ? 'label-ganador': 'lable-no-ganador'"
                >{{labelResultado(opcion)}}</ion-label
              >
            </ion-item>
          </ion-list>
        </ng-container>
        <p class="title" style="text-align: right">{{getLabelFooter()}}</p>
        <ng-container *ngIf="modo === 'resultados'">
          <ion-item-divider color="light">
            Pendientes{{' ('+ pendientes.length + ')'}}
            <button ion-button item-end class="btn-mostrar" type="button" (click)="togglePendientes()">{{btnPendientes}}</button>
  
          </ion-item-divider>
          <ng-container *ngIf="btnPendientes === '-'">
            <ion-item *ngFor="let pend of pendientes" fixed icon-end>
  
              {{pend.nombre + ' --- ' + pend.categoria}}
  
            </ion-item>
          </ng-container>
        </ng-container>
      </ion-col>
    </ion-row>
    <div
      class="spacer"
      style="width: 300px; height: 15px"
      id="registro-spacer8"
    ></div>
    <ion-row justify-content-center *ngIf="modo==='voto'">
      <ion-col col-xl-2>
        <button
          type="submit"
          ion-button=""
          block
          color="positive"
          [disabled]="!voto"
          (click)="votar()"
        >
          Votar
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
