page-modificar-evento {
   
        .btn-mostrar{
            background: transparent;
            box-shadow: none;
            color: black;
            font-size: large !important;
        }
        ion-item, ion-item-divider{
            .button-md:hover:not(.disable-hover) {
                background-color: #9c9da700;
            }
        }
            

        .icon{
            font-size: x-large;
        }

        .container2 {
            display: flex;
            margin-top: 0;
            margin-bottom: 0;
            justify-content: space-between;
            overflow: hidden;
            position: relative;
            cursor: pointer;
          }
        
          #displayImage {
            width: 40px;
            height: 40px;
            background-position: center;
            background-size: cover;
            display: none;
          }
        
          .fileInput {
            cursor: pointer;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 99;
            font-size: 50px;
            opacity: 0;
            -moz-opacity: 0;
            filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0)
          }
}
